<h1>New Restaurants in San Francisco</h1>
<div>
  <%= form_for(Business.new) do |f| %>
      <div class="inline">
        <%= f.search_field :url, placeholder: 'Enter a Yelp URL to scrape' %>
      </div>
      <div class="inline">
        <%= f.submit 'Scrape It' %>
      </div>
  <% end %>
  <div style="padding-left: 10px">
    <small>Examples:</small>
    <br/>
    <small><i>http://www.yelp.com/search?attrs=NewBusiness&cflt=restaurants&find_desc=&find_loc=San+Francisco%2C+CA</i>
    </small>
    <br/>
    <small><i>http://www.yelp.com/search?find_desc=tacos&find_loc=San+Francisco%2C+CA&ns=1</i></small>
  </div>
</div>
<% if @businesses.any? %>
    <p>These are the newest businesses we found on Yelp</p>
    <table cellpadding="5" cellspacing="5" width="100%">
      <tr>
        <th>Rating</th>
        <th>Name</th>
        <th>Address</th>
        <th></th>
      </tr>
      <% @businesses.each do |business| %>
          <tr>
            <td><%= business.rating %></td>
            <td><%= link_to business.name, business.url, target: '_blank' %></td>
            <td><%= business.address %></td>
          </tr>
      <% end %>
    </table>
<% else %>
    <p>No data yet.</p>
<% end %>

